@{
    ViewBag.Title = "About";
    ViewBag.Message = "You can kill anyone you like ;)";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr>
<p>Ever want to stalk everyone you know? Well come one, come all! We have what you want here. Sign up and get Stalk'n. No consent is needed. Feel free to sign up your friends, too, cuz we wont tell them that they've been added to our records.</p>



