@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Please don't kill us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<p>We don't want you to<br />
    kill our employees, <br />
    so just our emails are given out.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@stalker.net">Support@stalker.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@stalker.net">Marketing@stalker.net</a>
</address>